<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <servlet>
    <servlet-name>execute_pt</servlet-name>
    <servlet-class>gov.ca.dir.acct.cars.webservices.internal.proxy.Execute_pttImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>execute_pt</servlet-name>
    <url-pattern>/execute_pt</url-pattern>
  </servlet-mapping>
</web-app>
